.card {
  max-width: 413px;
}
.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  margin-bottom: 36px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-bottom: 0px;
  white-space: nowrap;
}

.card__like-button {
  background-image: url(../images/like.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__content {
    padding-top: 12px;
    padding-bottom: 0;
  }

  .card__title {
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 288px;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    margin-top: 12px;
    font-size: 16px;
  }
}
